// CSS HOMEPAGE
.mainwrapper {
    margin: 52px 0px !important;
    .container {
        table {
            width: 100%;
            tr {
                text-align: center;
                margin: 16px 0;
                th {
                    font-family: b;
                    font-size: 28px;
                    color: $white-cl;
                }
                td {
                    border: 2px solid white;
                    font-family: r;
                    font-size: 20px;
                    color: $white-cl;
                    height: 44px;
                }
            }
        }
        .note {
            font-family: 'r';
            color: rgba(255,255,255,0.6);
            margin: 20px;
        }
    }
    @include xs {
        .container {
            tr {
                margin: 12px 0 !important;
                th {
                    font-size: 16px !important;
                }
                td {
                    font-size: 12px !important;
                    height: 36px !important;  
                }
            }
            .note {
                font-size: 12px;
            }
        }
    }
}

.loader-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        font-family: 'l';
        font-size: 20px;
        color: white;
        margin-left: 12px;
    }
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #fff;
    animation: loader 2s infinite ease;
}
